body {
	font-family: "Microsoft Yahei", Helvetica, sans-serif, Arial, monospace;
	user-select: none;
}

@menu-container-width: 375px;
@menu-width: 50px;

@main-color: #607D8B;
@secondary-color: #F0F8FF;